:root {
    --primary-color: rgb(43, 46, 61);
    --secondary-color: rgb(186, 66, 255);
    --background-color: rgb(21, 21, 31);
    --hover-background-color: rgb(255, 255, 116);
    --text-color: rgb(255, 255, 255);

    --material-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --material-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --material-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --material-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --material-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    --positive-change: rgb(98, 199, 98);
    --negative-change: rgb(236, 82, 82);
    --neutral-change: white;
}